.aksiya{
    background-color: #9fcbf5;
    border-radius: 4px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.aksiya-box{
    padding: 16px 20px;
}
.aksiya-row{
    display: flex;
    justify-content: space-around;
}
.aksiya-content{
    width: 200px;
    margin-top: 20px;

}
.aksiya-text{
    padding: 10px 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
}
.aksiya-title{
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.aksiya-button{
    background-color: #9B83FC;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
}
.aksiya-button img{
    padding-left: 10px;
}
.aksiya-image img{
    height: 200px;
    padding: 0 10px;
    object-fit: contain;
    /* object-fit: contain; */
}