.card{
    position: relative;
    width: 240px;
    height: 250px;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 10px 0;
}
.product-icon-favorite img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding:4px;
    transition: 0.5s ease;
    z-index: 2;
}
.product-icon-favorite:hover img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-color: rgb(255, 8, 8);
    border-radius: 50%;
    padding:4px;
    cursor: pointer;
}

.product-icon-cart img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    padding:4px;
    transition: 0.5s ease;
    z-index:2;
}
.product-icon-cart:hover img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45px;
    right: 5px;
    background-color: rgb(67, 15, 255);
    border-radius: 50%;
    padding:4px;
    cursor: pointer;
}
.product-card-novinka{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    background-color: #9B83FC;
    color: white;
    border-radius: 4px;
    padding: 4px 6px;
    z-index:10;
}
.product-image img{
    position: absolute;
    top: 10px;
    right: 2%;
    width: 220px;
    height: 200px;
    object-fit: contain;
    
   
}
.product-stars{
    position: absolute;
    left: 3px;
    bottom: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product-title{
  
    padding-top: 10px;

    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.product-title-row{
    padding-right: 20px;
}
.product-price{
    color: rgb(131, 36, 255);
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;
}
.product-prices{
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.product-oldprice{
    text-decoration-line: line-through;
    font-size: 14px;
    font-weight: 600;
    color: #8d9687;
}

