.home{
    
}

.home-category{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.home-box{
    position: relative;
    width: 140px;
    height: 140px;
    background-color: rgb(197, 190, 231);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}
.home-box img{
    position: absolute;
    width: 90px;
    top: 40px;
    right: -20px;
}
.home-box-title{
    position:absolute;
    color: black;
    font-weight: 600;
    top: 15;
    left: 10px;
}
.home-box-text{
    position: absolute;
    top: 25px;
    left: 10px;
}

.home-catalog-title{
    padding: 20px 0 10px 0;
    
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.home-xit-prodaj-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-next-prev{
    display: flex;
    align-items: center;
}
.home-next-1{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border-radius: 50%;
    cursor: pointer;
}
.home-next-1 img{
    width: 20px;
    height: 20px;
}
.home-prev-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    cursor: pointer;
}
.home-prev-1 img{
    height: 20px;
    width: 20px;
}

.home-xit-prodaj-slider{
    width: 100%;
    overflow: hidden;
}
.home-xit-prodaj-slider-item{
    margin: 20px 4px;
}

.home-xit-prodaj-title{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.home-aksiya-content-title{
    font-size: 18px;
    font-weight: bold;
    padding: 40px 0;
}

.home-aksiya-content-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
}